* {
  font-size: 16px;
}

body {
  background-image: url('../img/background.jpg');
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

#intelimina_systems {
  display: block;
  width: 322px;
  margin: 0 auto;
}

#logo {
  display: block;
  width: 241px;
  margin: 0 auto;
}

#main-nav {
  margin-top: 32px;
  margin-top: 2rem;
}

#tagline {
  color: #192400;
  font-family: "Karla", sans-serif;
  text-shadow: 0 0 3px rgba(255,255,255,1.0);
  text-align: center;
  margin-top: 21px;
  margin-top: 1.3125rem;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.5;
}

#nav {
  margin-bottom: 0;
}

#main-nav li a {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,1.0);
  line-height: 2;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

#main-nav li.active a {
  background-color: rgb(182, 213, 173);
  background-color: rgba(182, 213, 173, 1.0);
  color: #0088CC;
}

#content { 
  background-color: #fff;
  min-height: 100px;
  border-radius: 5px;
  padding: 14px;
  /*padding: 0.875rem;*/
}

#values-list dd, #values-list dt {
  display: inline;
}

#values-list dd:after {  
  content:"\a";
  white-space: pre;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #header {
    clear: both;
  }
  
  #tagline {
    float: left;
    clear: both;
  }
}

#footer {
  margin: 28px 0;
  /*margin: 1.75rem 0;*/
  text-align: center;
  color: white;
}

#footer p {
  margin: 0;
}

@media (min-width: 1200px) {
  #main {
    width: 821px;
    margin: 0 auto;
  }

  #header {
    margin-top: 30px;
    height: 219px;
    height: 13.6875rem;
  }

  #intelimina_systems {
    float: left;
    width: 40%;
    margin-left: 5%;
  }

  #tagline {
    float: left;
    width: 50%;
  }

  #logo {
    float: right;  
    margin-right: 10%;
  }

  #main-nav li a {
    font-size: 17px;
    font-size: 1.0625rem;
    padding: 8px 19px;
    padding: 0.5rem 1.1875rem;
    border-radius: 5px 5px 0 0;
  }
  
  #content {
    border-radius: 0 0 5px 5px;
    width: 791px;
    width: 49.4375rem;
  }

  #contact label {
    width: 70px;
    width: 4.375rem;
  }

  #contact .controls { 
    margin-left: 90px;
    margin-left: 5.625rem;
  }

  @-moz-document url-prefix() {
    #content {
      width: 826px;
      width: 51.65rem;
    }

    #main-nav li a {
      padding: 8px 19px;
    }
  }
}